<!DOCTYPE html>
<meta charset="utf-8">
<head>
    {{>commondependencies}}
    <script src="js/testreport.js"></script>
</head>
<style>
    .dl-horizontal dt{
        text-align: left;
    }
    
    #confusionMatrix a {
        font-weight: bolder;
        font-size: larger;
        color: black;
    }
    
    #confusionMatrix a:hover {
        text-decoration: none;
    }
</style>
<body>
    <div class="container theme-showcase" >
        <div id="menu">{{>menu}}</div>       
        <div id="loaderror" class="bg-info hidden">
            <h1>No test results available.</h1>
            First test a trained classifier on a test set to be able to see the test results. <a href="http://nlesc.github.io/eEcology-Classification/#Testing" target="_blank"><span class="fa fa-info-circle"></span></a>             
        </div>
        <div id="loading" class="loading">
            <span class="fa fa-spinner fa-spin"></span>     
        </div> 
        <div id="content" class="hidden">
          <div class="container">
              <h1>Test result</h1>
              <dl class="dl-horizontal">
                  <dt>Classified correctly:</dt><dd ><span id="instancescorrect"></span> instances (<span id="percentagecorrect"></span>%)</dd>
                  <dt>Classified incorrectly:</dt><dd ><span id="instancesincorrect"></span> instances (<span id="percentageincorrect"></span>%)</dd>
                  <dt>Kappa statistic <a href=http://en.wikipedia.org/wiki/Cohen%27s_kappa target="_blank"><span class="fa fa-info-circle" style="color:blue"></span></a>:</dt><dd><span id="kappa"/></dd>
              </dl>
          </div>
          
          <div class="container">
              <h3>Confusion matrix</h3>
              <table id="confusionMatrix" class="table table-bordered"></table>
          </div>
        </div>  
    </div>
</body>

