/a.txt~
/Anot6020_4343_20140224_14353720.mat
/Anot6020_4352_20140225_08582550.mat
/Anot6020_4354_20140225_091112.mat
/Anot6039_4252_20140222_08124290.mat
/Anot6039_4264_20140222_095623.mat
/Anot6039_4280_20140223_165800.mat
/Anot6039_4287_20140223_094554.mat
/Anot6041_4350_20140225_08413350.mat
/Anot6041_4351_20140225_085507.mat
/Anot6041_4357_20140225_09321950.mat
/anottest_set1.json
/anottest_set20.json
/anottrain_set1.json
/anottrain_set20.json
/anotvalidation_set1.json
/anotvalidation_set20.json
/classifier_measurement.cls
/classifier.cls
/custom_features.txt
/GPS6020_4352_20140225_08582550res.mat
/measurement_classifier.cls
/meeuw_all.arff
/schemaEgyptVulture.txt
/schemaEgyptVulture.txt~
/schemaGullRemap.txt
/schemaSBRemap.txt
/schemaSpoonBill.txt
/test_set.json
/test_set1-2.json
/test_set1.json
/test_set1gt3.json
/test_set1le3.json
/test_set1unique.json
/test_set20gt3.json
/test_set20le3.json
/test_set20unique.json
/test_set3.json
/test_set5.json
/test_set60.json
/test_set60unique.json
/test_set61.json
/train_set.json
/train_set1-2.json
/train_set1.json
/train_set1gt3.json
/train_set1le3.json
/train_set1unique.json
/train_set20.json
/train_set20gt3.json
/train_set20le3.json
/train_set20unique.json
/train_set3.json
/train_set5.json
/train_set60.json
/train_set60unique.json
/train_set61.json
/validation_set.json
/validation_set1-2.json
/validation_set1.json
/validation_set3.json
/validation_set5.json
